{% extends 'base.html' %}

{% block title %}mark the PNG map{% endblock %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='css/mapping.css') }}">{% endblock %}

{% block content %}
<h1 class="h1-map">mark the PNG map</h1>
<div id="map-container"><img id="map" src="/static/maps/cs_cor.png"></div>
<button class="button-csv" onclick="exportCSV()">Export CSV file</button>
{% endblock %}

{% block javascript %}
<script src="/static/js/map.js"></script>
{% endblock %}

    
    
