{% extends 'base.html' %}

{% block title %}Register | eRSHAD{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<h1 class="h1-map">Register to eRSHAD</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.username.label }} {{ form.username() }}<br>
    {{ form.email.label }} {{ form.email() }}<br>
    {{ form.password.label }} {{ form.password() }}<br>
    {{ form.password2.label }} {{ form.password2() }}<br>
    {{ form.submit() }}
</form>
{% endblock %}

{% block javascript %}
{% endblock %}