/* overall style */

body {
    margin: 0;
    font-family: Arial;
}

/* the header style */

.header {
    background-color: #0f4c75;
    padding: 20px 30px;
    margin-bottom: 40px;
}

.header-inner {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    margin: 0;
    font-size: 28px;
}

.login-button {
    text-decoration: none;
    color: white;
    background-color: #3282b8;
    padding: 10px 18px;
    font-weight: bold;
}

/* style of the selection section */

.selection-section {
    padding: 0;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
     background-color:rgba(218, 218, 218, 0.359)A;
    border-collapse: collapse;
}

.from-to {
    background-color: #AAAAAA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    border: none;
    width: 100%;
}

.select-box {
    font-size: 24px;
    padding: 40px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    text-align: center;
    border: none;
    color: black;
}

.submit {
    background-color: black;
    color: white;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    border: none;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  
  .header {
    margin-bottom: 0px;
  }

  option {
    color: black;
  }
} 