/* overall style */

body {
    margin: 0;
    font-family: Arial;
}

/* the header style */

.header {
    background-color: #0f4c75;
}

.header-inner {
    height: 15vh;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    margin: 0;
    font-size: 28px;
}

.login-button {
    text-decoration: none;
    color: white;
    background-color: #3282b8;
    padding: 10px 18px;
    font-weight: bold;
}

/* style of the selection section */

.from-to {
    background-color: #AAAAAA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    height: 7.5vh;
    border: none;
    width: 100%;
}

.select-box {
    font-size: 24px;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    text-align: center;
    border: none;
    color: black;
}

.submit {
    background-color: black;
    color: white;
    width: 100%;
    height: 10vh;
    font-size: 18px;
    border: none;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  
  .header {
    margin-bottom: 0px;
  }

  .header-inner {
    padding: 0 25px;
  }

  option {
    color: black;
  }
} 