{% extends 'base.html' %}

{% block title %}mark the PNG map{% endblock %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='css/mapping.css') }}">{% endblock %}

{% block content %}
<h1 class="h1-map"><b>mark the PNG map</b></h1>
<p>Currenttime: <span id="current-time"></span></p>
<div id="map-container"><img id="map" src="/static/maps/cs_cor.png"></div>

<div class="buttons">
    <button id="startBtn" onclick="startMapping()">Start Mapping</button>
    <button id="pauseBtn" onclick="togglePause()" disabled>Pause/Unpause Mapping</button>
    <button id="exportBtn" onclick="exportCSV()">Export CSV file</button>
</div>

{% endblock %}

{% block javascript %}
<script src="/static/js/map.js"></script>
{% endblock %}

    
    
