
/* the header style */

body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

.header {
    background-color: #0f4c75;
}

.header-inner {
    height: 55px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    margin: 0;
    font-size: 24px;
}

.login-button {
    text-decoration: none;
    color: white;
    background-color: #3282b8;
    border-radius: 5px;
    width: 200px;
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.button-csv {
    width: 400px;
    border: none;
    height: 50px;
    background-color: #2E933C;
    margin-bottom: 40px;
    border-radius: 10px;
    color: white;
}

.container-box {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #0f4c75;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

@media screen and (max-width: 1300px) {
  
  .header {
    margin-bottom: 0px;
  }

  .header-inner {
    padding: 0 25px;
  }

  option {
    color: black;
  }
  
  .container-box {
    width: auto;
    height: 300px;
    margin: 0;
    display: flex;
}

.button-csv {
    width: 100%;
} 

.container-home {
  padding: 20px 15px 0px 15px;
}

}