#map-container {
    width: 800px;
    height: 600px;
    overflow: auto;
    border: 1px solid #ccc;
    position: relative;
    margin: 0px auto;
}
#map {
    width: 100%;
    height: auto;
}
.location-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.line {
    position: absolute;
    height: 4px;
    background-color: red;

}

.buttons {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
    background: #FDFFFC;
    z-index: 10;
    box-shadow: 0 0 2px #333;
}

button {
    flex: 1;
    padding: 12px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    max-width: 33.33%;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: flex;

}

#startBtn {
    background: #3282b8;;
    color: rgb(255, 255, 255);
}

#pauseBtn {
    background: #ED1C24;
    color: white;
}

#pauseBtn:disabled {
    background: #ed1c2360;
    color: #00000031;
    cursor: not-allowed;
}

#exportBtn {
    background: #33673B;
    color: #ffffff;
    border: 1px solid #ccc;
}

/* When disabled */
#exportBtn:disabled {
    background: #33673b56;
    color: #ffffff7d;
    border: 1px solid #ccc;
}

#exportBtn:hover {
    background: #e1e1e1;
}

.map-header {
    text-align: center;
    padding: 15px 0 15px 0;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    color: #333;
}

.map-header h1 {
    font-size: 28px;
    font-weight: 800;
}

.map-header p {
    font-size: 22px;
}

.map-header .label {
    font-weight: 500;
}


@media screen and (max-width: 768px) {
  
  .buttons {
    position: relative;
    width: auto;
    flex-direction: column;
    padding: 10px;
  } button {
    max-width: 100%;
  } #map-container {
    width: auto;
    height: auto;
} }