#map-container {
    width: 800px;
    height: 600px;
    overflow: auto;
    border: 1px solid #ccc;
    position: relative;
    margin: 20px auto;
}
#map {
    width: 100%;
    height: auto;
}

.button-start {
    background-color: green;
    color: white;
    padding: 10px;
    margin-right: 10px;
}

.button-pause {
    background-color: orange;
    color: white;
    padding: 10px;
    margin-right: 10px;
}


.location-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.line {
    position: absolute;
    height: 2px;
    background-color: red;
}