
body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

#map-container {
    width: 800px;
    height: 600px;
    overflow: auto;
    border: 1px solid #ccc;
    position: relative;
    margin: 20px auto;
}
#map {
    width: 100%;
    height: auto;
}
.location-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.button-csv {
    width: 400px;
    border: none;
    height: 50px;
    background-color: #2E933C;
    margin-bottom: 40px;
    border-radius: 10px;
}