/* overall style */

body {
    margin: 0;
    font-family: Arial;
}

/* style of the selection section */

.from-to {
    background-color: #AAAAAA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    height: 7.5vh;
    border: none;
    width: 100%;
}

.select-box {
    font-size: 24px;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    text-align: center;
    border: none;
    color: black;
}

.submit {
    background-color: black;
    color: white;
    width: 100%;
    height: 10vh;
    font-size: 18px;
    border: none;
    text-transform: uppercase;
}
