{% extends 'base.html' %}

{% block title %}mark the PNG map{% endblock %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='css/mapping.css') }}">{% endblock %}

{% block content %}
<div class="container">
    <div class="map-header">
        <h1>Mark the PNG Map</h1>
        <p><span class="label">Current time:</span> <span id="current-time">0.00</span> seconds</p>
    </div>
    <div id="map-container"><img id="map" src="/static/maps/cs_cor.png">
    </div>
    <div class="buttons">
            <button id="startBtn" onclick="startMapping()">start mapping</button>
            <button id="pauseBtn" onclick="togglePause()" disabled>pause/unpause mapping</button>
            <button id="exportBtn" onclick="exportCSV()">export CSV file</button>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script src="/static/js/map.js"></script>
{% endblock %}

    
    
