{% extends 'base.html' %}

{% block title %}Home | eRSHAD{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<div class="container-home">
    <h1 class="h1-map">Welcome to eRSHAD</h1>
    <a href="{{ url_for('main.mapView') }}"><button class="button-csv">export map points as CSV</button></a><br>
    <a href="{{ url_for('main.wayfind') }}"><button class="button-csv">visit "wayfind" functionality</button></a><br>
    <div class="container-box">
        <p>eRSHAD</p>
    </div>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}

    
    
